* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: blueviolet;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #17bb8f6b;
    box-shadow: 0 3px 3px grey;
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #17bb8f6b;
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    box-shadow: 0 3px 3px grey;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
    padding: 15px;
}

/* for mobile phones */
[class*="col-"] {
    width: 100%;
}

/* tablets */
@media screen and (min-width: 600px) {
    .col-s-3 {
        width: 33%;
    }
    .col-s-9 {
        width: 33%;
    }
    .col-s-12 {
        width: 33%;
    }
}

/* desctops */
@media screen and (min-width: 768px) {
    .col-3 {
        width: 25%;
    }
    .col-6 {
        width: 50%;
    }
}
